@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    border: solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    border: solid black;
    display: flex;
}

.right {
    border: solid black;
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.container {
    display: flex;
    height: 300px;
}

.hero-left {
    border: solid black;
    display: flex;
    flex-direction: column;
}

.hero-right {
    border: solid black;
    display: flex;
}

.sign-up {
    height: 30px;
    width: 100px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}