@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    border: solid black;
    display: flex;
    align-items: center;
    padding: 0 130px;
}

.left {
    border: solid black;
    display: flex;
}

.right {
    border: solid black;
    display: flex;
    margin-left: auto;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.container {
    border: solid black;
    display: flex;
    height: 400px;
    padding: 0 130px;
    align-items: center;
    gap: 40px;
}

.hero-left {
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero-right {
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.hero-main {
    font-size: 48px;
}

.hero-secondary {
    border: solid black;
    display: flex;
}

.sign-up {
    height: 30px;
    width: 100px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.placeholder {
    width: 330px;
    height: 130px;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}